body {
    background-color: darkgray;
    justify-content: center;
    align-items: center;
    margin: 0;
  display: flex;
  height: 300px;
}

.calculator {
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;   
}

input buttons {
    margin: 5px;
    padding: 5px 10px;
    border: 1px whitesmoke;
    border-radius: 1px;
}
.buttons {
    display: block;
    justify-content: center;
}